ul {
    list-style: none;
}

li {
    margin: 4px;
    cursor: pointer;
}

li>ul {
    margin-left: 15px;
    display: none;
}

li.open>ul {
    display: block;
    color: rgb(255, 0, 132);
}

.active-folder {
    color: rgb(255, 0, 132);
}

#tree li {
  cursor: pointer;
  padding: 2px 6px;
}

#tree li.active.open {
  color: rgb(255, 0, 132);
  border-radius: 4px;
}

#tree li.open > ul{
  color: rgb(0, 0, 0);
  border-radius: 4px;
}

#tree li.active.open > ul {
  display: block;
  color: black;
}